<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{{ 'site_title'|trans }}{% endblock %}</title>


    <link href="{{ asset('/bundles/onedayjobfrontend/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">

    <link href="{{ asset('/bundles/onedayjobmain/css/common.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('/css/2eca46c_part_1_5_style_6.css') }}" type="text/css" rel="stylesheet">
    {#<link href="{{ asset('bundles/onedayjobfrontend/css/new_style.css') }}" type="text/css" rel="stylesheet">#}
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        {% javascripts 'bundles/onedayjobfrontend/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <![endif]-->
    {% endblock %}
    <script type="text/javascript" src="{{ asset("/js/258ecd2_part_1_8_new_9.js") }}"></script>

    <script type="text/javascript" src="{{ asset("bundles/onedayjobfrontend/fancyapps/source/jquery.fancybox.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/onedayjobfrontend/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("bundles/onedayjobfrontend/fancyapps/source/jquery.fancybox.css") }}" type="text/css" media="screen" />

    <script type="text/javascript" src="{{ asset('/bundles/onedayjobmain/daterangepicker/daterangepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/onedayjobmain/daterangepicker/daterangepicker.css') }}" />

    <script>
        $(document).ready(function(){
            $('input[name="calendar"]').daterangepicker();
            $('.applyBtn').removeClass('btn-success');
            $('.applyBtn').addClass('btn-primary');
        });
    </script>

</head>
<body  data-locale="{{ app.request.get('_locale') }}">
<div class="container-fluid">
    <header>
        <div class="container-fluid" id="header">
            <form method="post">
            <div class="raw">
                <div id="header_logo" class="col-sm-1"><a href="{{ path('mainpage') }}"><img src="{{ asset("bundles/onedayjobmain/images/new/logo.png") }}"></a></div>
                <div id="header_language" class="col-sm-1">
                    <span>Русский</span>
                    <img src="{{ asset("bundles/onedayjobmain/images/new/language-arrow.png") }}">
                    <div id="header_other_language">
                        <div>Английский</div>
                        <div>Немецкий</div>
                    </div>
                </div>
                <div id="header_locale" class="col-sm-2">
                    <img src="{{ asset("bundles/onedayjobmain/images/new/locale.png") }}">
                    <span>РОССИЯ,МОСКВА</span>
                </div>

                <div class="col-sm-1  header-form-select header-form-select-index">
                    <select name="applicants-label">
                        <option class="header-form-option" value="1">СОИСКАТЕЛИ</option>
                        <option class="header-form-option" value="2">ВАКАНСИИ</option>
                        <option class="header-form-option" value="3">КОМПАНИИ</option>
                    </select>
                </div>
                <div class="col-sm-2" id="header-search-line">
                    <input id="header-input" type="text" class="form-control" placeholder="КЛЮЧЕВОЕ СЛОВО">
                </div>
                <div class="col-sm-2" id="header-form-calendar-div">
                    <input id="header-calendar" name="calendar"  type="text" class="form-control">
                </div>
                <div class="col-sm-1" id="header-form-button-div">
                    <button type="submit" class="btn btn-primary btn-md header-form-button">{{ 'form.search.search'|trans }}</button>
                </div>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div id="header_name_or_registration" class="col-sm-1 col-sm-offset-3">
                        {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                    </div>
                    <div class="col-sm-1" id="header_login_logout">
                        <a href="{{ path('fos_user_security_logout') }}">
                            <span id="header_login_logout">{{ 'menu.logout'|trans }}</span>
                        </a>
                    </div>
                    {#<div class="col-sm-2"></div>#}
                {% else %}
                    <div id="header_name_or_registration" class="col-sm-1 col-sm-offset-3">
                        <a href="{{ path('registration') }}">
                            <span>{{ 'menu.registration'|trans |upper }}</span>
                        </a>
                    </div>
                    <div class="col-sm-1" id="header_login_logout">
                        {{ 'menu.login'|trans|upper }}
                    </div>
                    {#<div class="col-sm-2"></div>#}
                {% endif %}
            </div>
            </form>
        </div>
    </header>

    <div id="body" class="container-fluid">

        {#SEARCH#}
        <div class="row applicants">
            <form method="post">
                <div class="col-sm-1 col-sm-offset-2 applicants-label">
                    <select name="applicants-label">
                        <option class="applicants-option" value="1">СОИСКАТЕЛИ</option>
                        <option class="applicants-option" value="2">ВАКАНСИИ</option>
                        <option class="applicants-option" value="3">КОМПАНИИ</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input id="applicants-search-line" type="text" class="form-control" placeholder="КЛЮЧЕВОЕ СЛОВО">
                </div>
                <div class="col-sm-2">
                    <input type="text"  name="calendar" id="applicants-search-calendar" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-lg applicants-button-search">{{ 'form.search.search'|trans }}</button>
                </div>
            </form>
        </div>

        {#LINK TO EXTEND SEARCH#}
        <div id="link-to-extended-search" class="row">
            <div class="col-sm-offset-8 col-sm-2">
                <a id="link-to-extended-search" href="#">Расширенный поиск</a>
            </div>
        </div>

        {% set data = helper.getSearchFormData %}

        <div id="body-extended-search">
            <div id="extended-search">
                <form>
                    <div class="row">
                        <div class="col-sm-1 col-sm-offset-2 applicants-label">
                            <select name="applicants-label">
                                <option class="applicants-option" value="1">СОИСКАТЕЛИ</option>
                                <option class="applicants-option" value="2">ВАКАНСИИ</option>
                                <option class="applicants-option" value="3">КОМПАНИИ</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input id="applicants-search-line-extend" type="text" name="title" class="form-control" placeholder="КЛЮЧЕВОЕ СЛОВО">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="calendar" id="applicants-search-calendar" class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-lg applicants-button-search">{{ 'form.search.search'|trans }}</button>
                        </div>
                    </div>

                    <div class="row select-branch-extended-search">
                        <div class="col-sm-1 col-sm-offset-2 branch-label"><span id="label-branch-extended-search">ОТРАСЛЬ</span></div>
                        <div class="col-sm-3">
                            <select name="branch" class="form-control combobox" data-placeholder="{{ 'content.search.choose_please'|trans }}">
                                <option class="option-extended-search option-extended-search-any" value="-1" disabled selected>{{ 'content.search.select_any_branch'|trans|upper }}</option>
                                {% set branch_value = app.request.get('branch', null) %}

                                <option class="option-extended-search"></option>
                                {% for branch in data.branches %}
                                    <option class="option-extended-search" value="{{ branch.id }}"{{ branch.id == branch_value ? ' selected="selected" ' : '' }}> <img src="{{ asset("bundles/onedayjobfrontend/images/new/star.png") }}"> {{ branch.translate.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row salary-extended-search">
                        <div class="col-sm-2 col-sm-offset-1 branch-label"><span id="label-branch-extended-search">С ОПЛАТОЙ В ДЕНЬ</span></div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-6 salary-extended-search-input">
                                    <input id="salary-search-line" name="salary" type="text" class="form-control" placeholder="ОПЛАТА">
                                </div>
                                <div class="col-sm-6 salary-extended-search-imgs">
                                    <img src="{{  asset("bundles/onedayjobmain/images/new/ruble.png") }}">
                                    <img src="{{  asset("bundles/onedayjobmain/images/new/dollar.png") }}">
                                    <img src="{{  asset("bundles/onedayjobmain/images/new/euro.png") }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row select-country-extended-search">
                        <div class="col-sm-1 col-sm-offset-2 branch-label"><span id="label-country-extended-search">СТРАНА</span></div>
                        <div class="col-sm-3">
                            <select class="combobox form_country" name="country" data-placeholder="{{ 'content.search.choose_please'|trans }}">
                                <option value="-1" disabled selected >{{ 'content.search.select_any_country'|trans|upper }}</option>
                                {#{% if local_country_id %}<option value="{{ local_country_id }}" selected>{{ local_country }}</option>{% endif %}#}
                                {% set country_value = app.request.get('country', null) %}

                                {% if country_value is not null %}
                                    {% set cities = helper.getCities(country_value) %}
                                {% endif %}

                                {% for country in data.countries %}
                                    <option value="{{ country.id }}"{{ country.id == country_value ? ' selected="selected" ' : '' }}>{{ country.translate.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div id="krest-extended-search">
                <img src="{{ asset("bundles/onedayjobmain/images/new/X.png") }}">
            </div>
        </div>

        {#RESULT OF SEARCH#}
        <div class="row result-search-main">
            <div class="container-fluid result-search-label">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 ">{{ 'menu.search_result'|trans }}</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid result-search">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4  h1_result_parent"><h1 class="h1_result">{{ 'menu.search_result'|trans }}</h1></div>
                        <div class="col-sm-1 col-sm-offset-5 see-all"><a href="#">СМОТРЕТЬ ВСЕ</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3  vacancy-block-parent">
                            <div class="vacancy-block">
                                <div class="vacancy-img">
                                    <img width="100%" height="100%" src="{{ asset("bundles/onedayjobmain/images/new/11.png") }}">
                                    <div class="vacancy-hover-text">ОТКЛИКНУТЬСЯ</div>
                                </div>
                                <div class=" vacancy-bottom-part">
                                    <div class="vacancy-label row">
                                        <div class="col-sm-2 icon-block"> <img src="{{ asset("bundles/onedayjobmain/images/new/man.png") }}"></div>
                                        <div class="col-sm-10">Вакансия</div>
                                    </div>
                                    <div class="vacancy-company row">
                                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/home.png") }}"></div>
                                        <div class="col-sm-10">Компания</div>
                                    </div>
                                    <div class="vacancy-locale row">
                                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/locale.png") }}"></div>
                                        <div class="col-sm-10">Москва</div>
                                    </div>
                                    <div class="vacancy-term row">
                                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/calendar.png") }}"></div>
                                        <div class="col-sm-10">Срок проекта</div>
                                    </div>
                                    <div class="vacancy-salary row">
                                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/rub.png") }}"></div>
                                        <div class="col-sm-10">60 000 р</div>
                                    </div>
                                    <div class="vacancy-hover"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="close-all-result" class="col-sm-2 col-sm-offset-9 close-all"><a href="#"> Свернуть все | <img src="{{ asset("bundles/onedayjobmain/images/new/arrow-up.png") }}"></a></div>
                    </div>

                </div>
            </div>
        </div>

        {# urgent_vacancies #}
        <div class="row urgent-vacancies-main">
            <div class="container-fluid urgent-vacancies-label">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 ">{{ 'menu.urgent_vacancies'|trans }}</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid urgent-vacancies">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 h1_vacancy_parent"><h1 class="h1_vacancy">{{ 'menu.urgent_vacancies'|trans }}</h1></div>
                        <div class="col-sm-1 col-sm-offset-5 see-all"><a href="#">СМОТРЕТЬ ВСЕ</a></div>
                    </div>

                    {{ render(controller('OneDayJobMainBundle:Vacancy:getUrgentVacancies', {'page': app.request.get('page', 1), 'ipp': app.request.get('ipp', 20)})) }}
                    {#THE RESULT!#}
                    <div class="row">
                        <div id="close-all-urgent-vacancies" class="col-sm-2 col-sm-offset-9 close-all"><a href="#"> Свернуть все | <img src="{{ asset("bundles/onedayjobmain/images/new/arrow-up.png") }}"></a></div>
                    </div>
                </div>
            </div>
        </div>


        {#COMPANY#}
        <div class="row search-company-main">
            <div class="container-fluid search-company-label">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 ">{{ 'user.menu.company'|trans }}</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid search-company">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 h1_company_parent"><h1 class="h1_company">{{ 'user.menu.company'|trans }}</h1></div>
                        <div class="col-sm-1 col-sm-offset-5 see-all"><a href="#">СМОТРЕТЬ ВСЕ</a></div>
                    </div>
                    {{ render(controller('OneDayJobMainBundle:Company:get_companies')) }}
                    <div class="row">
                        <div id="close-all-company" class="col-sm-2 col-sm-offset-9 close-all"><a href="#"> Свернуть все | <img src="{{ asset("bundles/onedayjobmain/images/new/arrow-up.png") }}"></a></div>
                    </div>
                </div>
            </div>
        </div>

        {# applicants #}
        <div class="row applicants-main">
            <div class="container-fluid search-applicants-label">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 ">Соискатель</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid search-applicants">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 h1_applicants_parent"><h1 class="h1_applicants">Applicants</h1></div>
                        <div class="col-sm-1 col-sm-offset-5 see-all"><a href="#">СМОТРЕТЬ ВСЕ</a></div>
                    </div>
                    {{ render(controller('OneDayJobMainBundle:Resume:getResumes', {'page': app.request.get('page', 1), 'ipp': app.request.get('ipp', 20)})) }}
                    <div class="row">
                        <div id="close-all-applicants" class="col-sm-2 col-sm-offset-9 close-all"><a href="#"> Свернуть все | <img src="{{ asset("bundles/onedayjobmain/images/new/arrow-up.png") }}"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container-fluid" id="footer">
                <div class="row footer-link">
                    <div class="col-lg-4 col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1 footer-links"><a href="#"> О нас </a></div>
                            <div class="col-sm-2 footer-links"><a href="#"> Партнеры </a></div>
                            <div class="col-sm-2 footer-links"><a href="#"> Компании </a></div>
                            <div class="col-sm-2 footer-links"><a href="#"> Помощь </a></div>
                            <div class="col-sm-2 footer-links"><a href="#"> Вопросы </a></div>
                        </div>
                    </div>
                </div>

                <div class="row footer-social-networks-label">
                    <div class="col-sm-4 col-sm-offset-4">
                        <h3>Мы в соц.сетях</h3>
                    </div>
                </div>

                <div class="row row footer-social-networks">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/vk.png") }}"></a>
                        <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/facebook.png") }}"></a>
                        <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/twitter.png") }}"></a>
                        <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/ok.png") }}"></a>
                        <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/g_plus.png") }}"></a>
                        <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/a.png") }}"></a>
                    </div>
                </div>

                <div class="row footer-logo">
                    <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 ">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/footer-logo1.png") }}">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/footer-logo2.png") }}"><br/><br/>
                        <img src="{{ asset("bundles/onedayjobmain/images/new/footer-logo3.png") }}">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>