{% extends 'OneDayJobMainBundle::layout.html.twig' %}
{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/css/2eca46c_part_1_8_style_open_resume_9.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('/css/2eca46c_part_1_9_style_show_vacancy_10.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("/js/258ecd2_part_1_9_registration_10.js") }}"></script>
{% endblock %}

{% block body %}
<div class="container main-registration">
    <div class="row registration-applicants-employer-buttons">
        <div class="col-sm-3 col-sm-offset-3  registration-applicants-button"><button disabled class="btn btn-primary">Я соискатель</button></div>
        <div class="col-sm-3  registration-employer-button"><button disabled class="btn btn-primary">Я работадатель</button></div>
    </div>
    <div class="row social-buttons">
        <div class="col-sm-4 col-sm-offset-4">
            <span>ЗАРЕГИСТРИРОВАТЬСЯ С ПОМОЩЬЮ</span>
            <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/vk.png") }}"></a>
            <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/facebook.png") }}"></a>
            <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/twitter.png") }}"></a>
            <a href="#"><img src="{{ asset("bundles/onedayjobmain/images/new/ok.png") }}"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 registration-name">
            <span class="registration-label">Имя</span><br>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 registration-lastname">
            <span class="registration-label">Фамилия</span><br>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 registration-email">
            <span class="registration-label">Email</span><br>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <span class="registration-label">Придумайте пароль</span><br>
        <div class="col-sm-3 col-sm-offset-3 registration-password"><input type="password" class="form-control registration-password-input"></div>
        <div class="col-sm-3 registration-password"><input type="password" class="form-control registration-password-input"></div>
    </div>
    <div class="row">
        <img class="registration-show-password" src="{{ asset("bundles/onedayjobmain/images/new/eye.png") }}"><br/>
        <span class="registration-show-password">Показать пароль</span>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 registration-checkbox">
            <input type="checkbox" name="rules" id="registration-rules"><span>Я согласен <strong>с правилами использования</strong> сервиса</span><br/>
            <input type="checkbox" name="news" ><span>Присылать мне новости обновления проекта</span>
        </div>
    </div>
</div>
{% endblock %}