<div id="modal-resume" class="modal fade" id="resume-1" tabindex="-1">
  <div class="modal-dialog" style="width:764px">
    <div class="modal-content-box">
      <button type="button" class="close" data-dismiss="modal" > <i class="icon-16 icon-close"></i> </button>
      <div class="bottom-md modal-resume-top">
        <div class="pull-left"><img src="content/img5.png" width="100" height="100" class="img-circle" alt=""></div>
        <div class="modal-resume-top-info">
          <div class="h2 text-bold margin-bottom-xs qv-name">Иван Иванов 27 лет</div>
          <span class="qv-location">Россия, Москва</span>
           <span class="icon-16 icon-map"></span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-text-wrap">
        <div class="scrollbar-outer scrollbar-green">
          <ul class="list-unstyled list-pad">
            <li><b class="lbl">{{ 'form.company.phone'|trans }}:</b> <span class="qv-phone"> +380503057284</span></li>
            <li><b class="lbl">E-mail:</b><span class="qv-email">himitsu03@gmail.com</span></li>
            <li><b class="lbl">Skype:</b><spam class="qv-skype">ry3jiopba4</spam></li>
          </ul>
          <hr>
          <div class="text-uppercase text-bold">{{ 'form.vacancy.education'|trans }}</div>
          <br>
          
          <p class="qv-education"></p>

          <hr>
          <div class="text-uppercase text-bold">{{ 'form.resume.specialty'|trans }}</div>
          <br>
          
          <p class="qv-specialty"></p>

          <hr>
          <div class="text-uppercase text-bold">{{ 'form.vacancy.extra'|trans }}</div>
          <br>
          <p><span class="text-muted qv-comment">
            
          </span></p>
          <hr>
          <div class="text-uppercase text-bold">{{ 'form.vacancy.work_experience'|trans }}</div>
          <br>
          <p class="qv-experience"></p>
        </div>
      </div>
    </div>
  </div>
</div>