{% extends 'OneDayJobMainBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/css/2eca46c_part_1_8_style_open_resume_9.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('/css/2eca46c_part_1_9_style_show_vacancy_10.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% set image =  asset("bundles/onedayjobmain/images/new/11.png") %}

{% block body %}
<div class="container">
    <div class="row resume-open-top">
        <div class="col-sm-1">
            <span><a class="header=referer" href="{{ referer }}"><img src="{{ asset("bundles/onedayjobfrontend/images/new/arrow-left.png") }}"> назад</a></span>
        </div>
        <div class="col-sm-3">
            <span class="resume-open-top-text">{{ label  }}</span>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid vacancy-data">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-5 vacancy-open-img">
                    <img width="100%" src="{{ image|imagine_filter('logo_inset') }}" alt=""><br/>
                    <button class="btn btn-primary btn-lg vacancy-open-respond"> ОТКЛИКНУТЬСЯ </button>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 vacancy-main-data">
                    <div class="vacancy-show-title">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/man-gray.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>{{ vacancy.title }}</span>
                                <div class="resume-open-add-to-favorites">
                                    <span>Добавить в избранное</span>
                                    <img src="{{ asset("bundles/onedayjobmain/images/new/empty-star.png") }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-company">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/home-gray.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>{{ vacancy.company.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-city">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/locale-gray.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>{{ vacancy.city.translate.title }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-term">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/calendar-gray.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span class="vacancy-show-term-project">Срок проекта <br><span class="vacancy-show-term-date">{{ vacancy.termfrom |date("d/m/Y")}} - {{ vacancy.termto |date("d/m/Y")}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-created">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/pen.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>{{ time_diff(vacancy.created)|trans }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-salary">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/rub-gray.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>{{ vacancy.salaryPerMonth|number_format(0) }} {{ helper.currency(vacancy.currency) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-require">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/bulb.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>ТРЕБОВАНИЯ</span>
                                <p>{{ vacancy.extra }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-condition">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/flower.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>УСЛОВИЯ</span>
                                <p>{{ vacancy.condition }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vacancy-open-similar">
        <h2>ПОХОЖИЕ СОИСКАТЕЛИ</h2>
        {{ render(controller('OneDayJobMainBundle:Vacancy:similarVacancy', {'id': vacancy.id})) }}
    </div>

</div>
{% endblock %}
