{% extends 'OneDayJobMainBundle::layout.html.twig' %}
{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/css/2eca46c_part_1_9_style_show_vacancy_10.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('/css/2eca46c_part_1_8_style_open_resume_9.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
{% set image = companies.image is not null ? '/uploads/images/'~ companies  .image : '/uploads/images/company.png' %}

<div class="container">
    <div class="row resume-open-top">
        <div class="col-sm-1">
            <span><a class="header=referer" href="{{ referer }}"><img src="{{ asset("bundles/onedayjobfrontend/images/new/arrow-left.png") }}"> назад</a></span>
        </div>
        <div class="col-sm-3">
            <span class="resume-open-top-text">{{ label }}</span>
        </div>
    </div>

    <div class="row">
        <div class="container vacancy-data">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5 vacancy-open-img">
                    <div class="company-img">
                        <img class="circle-company-img" src="{{ image|imagine_filter('logo_inset') }}">
                        <img class="circle-img" src="{{ asset("bundles/onedayjobmain/images/new/circle-white.png") }}">
                        <div class="company-hover"></div>
                    </div>
                    <div class="row company-number-vacancies">
                        <div class="col-sm-12">
                            <span class="company-number"> {{ companies.numberVacancies }} </span>
                            <span class="company-number-text"> ВАКАНСИИ </span>
                            <div class="company-underline"> <img src="{{ asset("bundles/onedayjobmain/images/new/underline-company.png") }}"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9  col-md-8 col-sm-7 vacancy-main-data">
                    <div class="vacancy-show-title">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/man-gray.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>{{ companies.name }}</span>
                                <div class="resume-open-add-to-favorites">
                                    <span>Добавить в избранное</span>
                                    <img src="{{ asset("bundles/onedayjobmain/images/new/empty-star.png") }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-city">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/locale-gray.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>{{ companies.city.translate.title }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-require">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/bulb.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>ТРЕБОВАНИЯ</span>
                                <p>{{ companies.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="vacancy-show-condition">
                        <div class="row">
                            <div class="col-sm-1 vacancy-show-icon">
                                <img src="{{ asset("bundles/onedayjobmain/images/new/flower.png") }}">
                            </div>
                            <div class="col-sm-11">
                                <span>УСЛОВИЯ</span>
                                <p>{{ companies.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% set i  = 0 %}
    {% for vacancy in vacancies %}

    {% if i != 0  %}
        {% if vacancy.branch.translate.title !=  branch %}
            {% set branch  = vacancy.branch.translate.title  %}
            {% set branch_icon  = "bundles/onedayjobmain/images/new/" ~ vacancy.branch.translate.icon  %}
            </div>
            <div class="row row-vacancy row-vacancies-of-company">
            <h3><img height="23px" src="{{ asset(branch_icon) }}"> {{ branch |upper }}</h3>
            {% set i  = 0 %}
        {% endif %}
    {% else %}
        {% set branch  = vacancy.branch.translate.title %}
        {% set branch_icon  = "bundles/onedayjobmain/images/new/" ~ vacancy.branch.translate.icon  %}
        <div class="row row-vacancy row-vacancies-of-company">
        <h3><img height="23px" src="{{ asset(branch_icon) }}"> {{ branch |upper }}</h3>
    {% endif %}

    {% set image =  asset("bundles/onedayjobmain/images/new/11.png") %}

    {% set i  = i + 1 %}

    <div class="col-lg-3 col-md-4 col-sm-6 vacancy-block-parent">
        <a class="link-to-show" href="{{ path('vacancy_chow',{'id': vacancy.id }) }}">
            <div class="vacancy-block">
                <div class="vacancy-img">
                    <img width="100%" src="{{  image|imagine_filter('logo_inset') }}">
                    <div class="vacancy-hover-text">ОТКЛИКНУТЬСЯ</div>
                </div>
                <div class="container-fluid vacancy-bottom-part">
                    <div class="vacancy-label row">
                        <div class="col-sm-2 icon-block"> <img src="{{ asset("bundles/onedayjobmain/images/new/man.png") }}"></div>
                        <div class="col-sm-10">{{ vacancy.title }}</div>
                    </div>
                    <div class="vacancy-company row">
                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/home.png") }}"></div>
                        <div class="col-sm-10">{{ vacancy.company.name }}</div>
                    </div>
                    <div class="vacancy-locale row">
                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/locale.png") }}"></div>
                        <div class="col-sm-10">{{ vacancy.city.translate.title }}</div>
                    </div>
                    <div class="vacancy-term row">
                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/calendar.png") }}"></div>
                        <div class="col-sm-10">{{ vacancy.termfrom |date("d/m/Y") }} - {{ vacancy.termto |date("d/m/Y") }}</div>
                    </div>
                    <div class="vacancy-salary row">
                        <div class="col-sm-2 icon-block"><img src="{{ asset("bundles/onedayjobmain/images/new/rub.png") }}"></div>
                        <div class="col-sm-10">{{ vacancy.salaryPerMonth|number_format(0) }} {{ helper.currency(vacancy.currency) }}</div>
                    </div>
                    <div class="vacancy-hover"></div>
                </div>
            </div>
        </a>
    </div>


    {% endfor %}
    {% if i != 0 %}
</div>
{% endif %}

<div class="vacancy-open-similar">
    <h2>ПОХОЖИЕ КОМПАНИИ</h2>
    {{ render(controller('OneDayJobMainBundle:Company:similarCompany', {'id': companies.id})) }}
</div>

</div>

{% endblock %}
