{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="greenLine"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<div class="registration" style="margin-top: 20px;">
					<div class="box-login">
			            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
			              <div class="lost-field-box">
			                <div class="form-group">
			                  <label for="" class="text-uppercase text-bold">{{ 'menu.enter_email'|trans }}</label>
			                  <input type="email" class="form-control" id="" placeholder="{{ 'menu.enter_email'|trans }}" name="username" required="required">

			                  {% if invalid_username is defined %}
								  <p class="error">
								  	{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
								  </p>
							  {% endif %}
			                </div>
			                <div class="top-md">
			                  <button type="submit" class="button button-blue">{{ 'resetting.request.submit'|trans }}</button>
			                </div>
			              </div>
			            </form>
			        </div>
				</div>
			</div>
		</div>
	</div>

{% endblock fos_user_content %}
