{% extends 'OneDayJobMainBundle::layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('/css/2eca46c_part_1_8_style_open_resume_9.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row resume-open-top">
        <div class="col-sm-1">
            <span><a class="header=referer" href="{{ referer }}"><img src="{{ asset("bundles/onedayjobfrontend/images/new/arrow-left.png") }}"> назад</a></span>
        </div>
        <div class="col-sm-3">
            <span class="resume-open-top-text">{{ label }}</span>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid resume-data">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-5 resume-open-img">
                    <img src="{{ resume.imageSrc }}" alt="">
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 resume-main-data">
                    <div class="resume-open-fullname">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/man.png") }}">
                        <span>{{ resume.fullName | upper}}</span>
                        <div class="resume-open-add-to-favorites">
                            <span>Добавить в избранное</span>
                            <img src="{{ asset("bundles/onedayjobfrontend/images/new/star.png") }}">
                        </div>
                    </div>
                    <div class="resume-open-locale">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/locale.png") }}">
                        <span>{{ resume.city.translate.title }}</span>
                    </div>
                    <div class="resume-open-age">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/sand_watch.png") }}">
                        <span>{{ resume.age }}</span>
                    </div>
                    <div class="resume-open-sex">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/sex.png") }}">
                        <span>{{ resume.sex }}</span>
                    </div>
                    <div class="resume-open-phone">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/phone.png") }}">
                        <span>{{ resume.phone }}</span>
                    </div>
                    <div class="resume-open-email">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/email.png") }}">
                        <span>{{ resume.email }}</span>
                    </div>
                    <div class="resume-open-skype">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/skype.png") }}">
                        <span>{{ resume.skype }}</span>
                    </div>
                    <div class="resume-open-specialization">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/specialization.png") }}">
                        <span>{{ resume.specialty | upper}}</span>
                    </div>
                    <div class="resume-open-term">
                        <table>
                            <tr>
                                <td><img class="resume-open-term-img" src="{{ asset("bundles/onedayjobmain/images/new/calendar.png") }}"></td>
                                <td><span class="resume-open-term-project">Срок проекта <br> <span class="resume-open-term-date">{{ resume.termfrom |date("d/m/Y") }} - {{ resume.termto |date("d/m/Y") }}</span></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="resume-open-salary">
                        <img src="{{ asset("bundles/onedayjobmain/images/new/rub.png") }}">
                        <span>{{ resume.salary|number_format(0) }} {{ helper.currency(resume.currency) }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 resume-open-education">
                    <h4 class="resume-open-headline"><img src="{{ asset("bundles/onedayjobmain/images/new/education.png") }}">{{ 'form.vacancy.education'| trans | upper}}</h4>
                    <p>
                        {% for education in resume.education %}
                            {{ education.title }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 resume-open-experience">
                    <h4 class="resume-open-headline"><img src="{{ asset("bundles/onedayjobmain/images/new/work_experience.png") }}">{{ 'form.vacancy.work_experience'| trans | upper}}</h4>
                    <p>
                        {% for experience in resume.experience %}
                            {{ experience.title }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 resume-open-extra">
                    <h4 class="resume-open-headline"><img src="{{ asset("bundles/onedayjobfrontend/images/new/skills.png") }}">КАЧЕСТВА, НАВЫКИ</h4>
                    <p>
                        {{resume.extra}}
                    </p>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary btn-lg resume-open-respond"> ОТКЛИКНУТЬСЯ </button>
            </div>
        </div>
    </div>

    <div class="resume-open-similar">
        <h2>ПОХОЖИЕ СОИСКАТЕЛИ</h2>
        {{ render(controller('OneDayJobMainBundle:Resume:similarResume', {'id': resume.id})) }}
    </div>

</div>
{% endblock %}
